<div class="flex flex-col justify-center items-center md:max-w-6xl p-1 md:py-4">
    <div class="md:px-10 py-5 md:text-xl">
        <a [routerLink]="['/portfolio']" fragment="home" class="px-2 md:px-4 py-2 hover:text-gray-500">Start</a>
        <a [routerLink]="['/portfolio']" fragment="about" class="px-2 md:px-4 py-2 hover:text-gray-500">Über mich</a>
        <a [routerLink]="['/portfolio']" fragment="experience" class="px-2 md:px-4 py-2 hover:text-gray-500">Erfahrung</a>
        <a [routerLink]="['/portfolio']" fragment="projects" class="px-2 md:px-4 py-2 hover:text-gray-500">Projekte</a>
    </div>
    <p class="text-xs md:text-sm my-2">&copy; 2024 {{personalData.fullName}}. Alle Rechte vorbehalten. </p>
</div>